<div class="col-sm-12">
  <div class="row" id="cart_item-<%= cart_item.product_id %>">
    <div class="col-sm-4">
      <%= image_tag cart_item.product.image, width: "100%" %>
    </div>
    <div class="col-sm-8">
      <p><%= cart_item.product.name %></p>
      <p>$ <%= cart_item.product.price %></p>
      <%= link_to subtract_from_cart_product_path(cart_item.product), remote: true, method: :post do %>
        <span class="glyphicon glyphicon-minus"></span>
      <% end %>
      <h5 id="quantity"><%= cart_item.quantity %></h5>
      <%= link_to add_to_cart_product_path(cart_item.product), remote: true, method: :post do %>
        <span class="glyphicon glyphicon-plus"></span>
      <% end %>
      <div class="clearfix"></div>
      <%= link_to remove_from_cart_product_path(cart_item.product), remote: true, method: :delete do %>
        <span class="glyphicon glyphicon-trash pull-right"></span>
      <% end %>
    </div>
  </div>
</div>