<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Shopping list</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Price</th>
              <th>Quantity</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @cart_items.each do |cart_item| %>
              <tr id="cart_item-<%=cart_item.product_id%>">
                <td>
                  <%= image_tag cart_item.product.image, width: "100px" %>
                  <%= cart_item.product.name %>
                </td>
                <td>$ <%= cart_item.product.price %></td>
                <td><%= cart_item.quantity %></td>
                <td>$ <%= cart_item.product.price * cart_item.quantity %></td>
                <td><%= link_to "D", remove_from_cart_product_path(cart_item.product), remote: true, method: :delete %></td>
              </tr>
            <% end %>
            <tr>
              <td></td>
              <th>Subotal</th>
              <th><%= current_cart.total_quantity %></th>
              <th>$ <%= current_cart.total_price %></th>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Shopping infomation</h3>
      </div>
      <div class="panel-body">
        <form class="form">
          <div class="form-group">
            <label>Name</label>
            <input type="email" class="form-control">
          </div>
          <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control">
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input type="email" class="form-control">
          </div>
          <div class="form-group">
            <label>Address</label>
            <input type="email" class="form-control">
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Payment method</h3>
      </div>
      <div class="panel-body">
        <form>
          <input type="radio" name="payment_method" value="atm"> ATM<br/>
          <input type="radio" name="payment_method" value="creditcard"> Credit Card<br>
        </form>
      </div>
    </div>
    <div class="pull-right">
      <%= link_to "Checkout", "", class: "btn btn-default" %>
    </div>
  </div>
</div>